-
	var skills = {
	  'Frontend' : {
			// skill name : {knowledge level : pause before start animation}
			'HTML5 JADE vs Pug' : {80:500}, 
			'CSS3 SCSS PostCSS' : {75:500}, 
			'JavaScript jQuery' : {65:500}, 
			'React Redux' 			: {55:500}
		},
	  'Backend' : {
			'Node.js & npm' : {50:1500}, 
			'Mongo.db' 			: {40:1500}, 
			'PHP' 					: {20:1500}, 
			'mySQL' 				: {20:1500}
		},
	  'Workflow' : {
			'Git' 		: {65:2500}, 
			'Gulp' 		: {80:2500}, 
			'Webpack' : {50:2500}, 
			'Bower' 	: {80:2500}, 
			'Heroku' 	: {50:2500}
		}
	}
	
each skill__list, skill__title in skills
	section.skills
		h3.skills__title #{skill__title}
		ul.skills__list
			each levels, skill__title in skill__list
				li.skills__item
					svg(width="110" height="110").skills__circles
						each pause, level in levels
							circle(
								r="45" 
								cx="50%" 
								cy="50%" 
								fill="none" 
								class="skills__circle-first")
							
							circle(
								r="45" 
								cx="50%" 
								cy="50%" 
								transform="rotate(-90 55 55)" 
								class="skills__circle-second"
								data-circle=level 
								data-pause=pause)
					span.skills__item-title #{skill__title}